@import "env/main";

.left, .right {
  border: 1px solid red;
  min-height: 300px;
}

.left {
  .col();
  .size(6);
}

.right {
  .col();
  .size(6);
}

.sign {


  &-container {
    width: 100%;
    max-width: 320px;
    text-align: center;
  }

  .logo {
    a {
      width: 46px;
    }

    margin-bottom: 56px;
  }

  .r {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid @color-border;
    padding-bottom: @padding-main;
    margin-bottom: @margin-main;
  }

  &-wpr {
    margin-bottom: @margin-main;
  }

  button.link {
    margin: 0 auto @margin-main;
    display: block;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  .center;
  z-index: 10000;
}
.add-channel {
  .col();
  .size(12);
  display: flex;
  height: 58px;
  justify-content: right;
  align-items: center;

  span {
    font-weight: 600;
    font-size: 14px;

  }

  button {
    margin-left: 13px;
    display: inline-block;
    align-items: center;
    line-height: 14px;
  }

  .blank.i-coffee {
    padding-left: 16px;
    background-size: 10px auto;
    font-size: 12px;
    color: @color-href;
    margin-right: 112px;
    font-weight: 600;
  }
}

.channel {
  &-info {
    .col();
    .size(6);
    .box-shadow-main;
    margin-top: 20px;
    background: @color-background;
    display: flex;

    &:first-of-type {
      justify-content: space-between;
    }

    &-name {
      padding: @padding-main @padding-main 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        display: flex;
        align-items: center;

        b {
          margin-right: 10px;
        }

        &:first-of-type {
          margin-bottom: 10px;
        }
      }
    }


    &-stat {
      padding: @padding-main @padding-main 15px;
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      b {
        font-weight: 900;
        font-size: 16px;
        white-space: nowrap;
        display: block;

        em {
          color: @color-attract;
          font-weight: inherit;
          padding-left: 6px;
        }
      }

      span {
        font-size: 12px;

        &:last-of-type {
          margin-top: 0;
        }
      }
    }

    &-subscribers {
      margin-top: 8px;
    }
  }

  &-avatar {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
  }

  &-name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 6px;
  }

  &-link {
    font-size: 14px;
    color: @color-href;
    padding-right: 20px;
    background: url("../img/icons/channel-link.png") no-repeat right center;
  }

  &-contact {
    width: 200px;
    border-right: 1px solid @color-border;
    padding: @padding-main @padding-main 15px;
    display: flex;
    flex-direction: column;

    b {
      padding-left: 6px;
    }

    p {
      background: url("../img/icons/tg-sign.png") no-repeat left center;
      padding-left: 24px;
      margin-top: 6px;

      a {
        display: inline-block;
        font-size: 12px;
      }
    }

    div {
      margin-top: auto;

      em {
        margin-bottom: 2px;
        display: inline-block;
        border-bottom: 1px dashed;
      }
    }
  }

  &-media {
    padding: @padding-main @padding-main 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    p {
      //margin-bottom: 2px;
      span {
        display: inline-block;

        &:first-of-type {
          width: 92px;
        }
      }
    }
  }

  &-stat {
    .col();
    .size(12);
    .box-shadow-main;
    padding: @padding-main;
    background: @color-background;

    h3 {
      font-size: 16px;
    }


    &-items {
      display: flex;
      margin-top: 12px;
      margin-bottom: 41px;
    }

    &-item {
      //max-width: 50px;
      padding-right: 20px;

      span {
        font-size: 12px;
        line-height: 16px;
        display: block;
        color: @color-light;
      }

      b {
        display: flex;
        font-weight: 600;
        font-size: 20px;
        margin-top: 25px;
        color: @color-link;
        align-items: center;

        img {
          margin-right: 7px;
          margin-top: 1px;
        }
      }
    }

    &-charts {
      display: flex;
      align-items: center;
      margin-bottom: 45px;
      &.column {
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;
        .legend-items {
          margin-top: 15px;
          p {
            display: flex;
            align-items: center;
          }

        }
        .legend-item {
          flex-direction: column;
          b {
            display: block;
            font-size: 20px;
            font-weight: 600;
            color: @color-link;
            margin-top: 2px;

          }
        }
      }
      .legend {

        &-item {
          font-size: 12px;
          display: inline-flex;
          align-items: center;
          margin-left: 38px;
          color: @color-light;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            color: @color-link;
          }

          em {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 12px;
          }

        }
      }
    }
  }

}

.chart {
  &-wrapper {
    height: 210px;
    padding-bottom: 36px;
  }
}
